* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
}

.contenedor-principal {
  width: 100%;
  display: flex;
}

.contenedor {
  width: 95%;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}

.actividades-indv {
  width: 280px;
  height: 260px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #B0BEC5;
  color: #141414;
  margin-right: 27px;
  margin-bottom: 27px;
}
.actividades-indv :hover {
  color: #141414;
  text-decoration: none;
}

.imagen-item {
  width: 100%;
  height: 150px;
  background-color: forestgreen;
  position: relative;
}
.imagen-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: top;
  position: relative;
}

.icono-candado {
  position: absolute;
  background-color: rgba(38, 50, 56, 0.6);
  z-index: 30;
  padding: 8px 10px;
  border-radius: 42%;
}

.icono-play {
  z-index: 30;
  position: absolute;
  margin-top: 55px;
  margin-left: 100px;
  opacity: 0.6;
}

.texto-principal {
  align-items: flex-end;
}

.breadcrumb1 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.breadcrumb1 span {
  font-weight: bold;
}

.breadcrumb1__item {
  color: #141414;
}

.breadcrumb1__item:after {
  content: "/ ";
  font-size: 14px;
}

header {
  width: 300px;
  background-color: #ffffff;
  height: 100vh;
  padding: 54px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.menu {
  font-family: "Roboto", sans-serif;
}
.menu__lista {
  margin-top: 40px;
  display: block;
  list-style: none;
}
.menu__lista-item a {
  text-decoration: none;
  display: flex;
  font-family: "Roboto", sans-serif;
  align-items: center;
  margin: 16px 0;
  color: #141414;
}
.menu__icono {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 16px;
}

.mi-cuenta {
  display: flex;
  font-family: "Roboto", sans-serif;
  align-items: center;
  margin-top: 150px;
}
.mi-cuenta__hero {
  margin-right: 16px;
}

main {
  width: 100vw;
  height: 100%;
  background-color: #f5f5f5;
}

.bienvenida {
  background-color: #d6b600;
  font-family: "Roboto", sans-serif;
}

.caj-Titulo-Principal {
  display: flex;
  margin-bottom: 17px;
}
.caj-Titulo-Principal__icono {
  padding-right: 10px;
}

.formulario-busqueda {
  width: 230px;
  background-color: #ffffff;
  margin: 16px 0;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
}
.formulario-busqueda__input {
  border: none;
  border-right: 1px solid #455A64;
  text-align: left;
  background-color: transparent;
  padding-right: 8px;
  opacity: 0.3;
}
.formulario-busqueda__icono {
  border: none;
  background-color: transparent;
  text-align: right;
}

.titular1 {
  font-size: 35px;
  color: #c35623;
  font-weight: 700;
  padding-right: 20px;
  padding-bottom: 0;
  text-transform: uppercase;
}

.form-seleccion-multiple {
  border: none;
  border: 2px solid #B0BEC5;
  border-radius: 25px;
  width: 90px;
  padding-left: 6px;
}

.caja-imagen {
  position: relative;
  height: 195px;
  background-image: url("../img/Estacionguanako.jpg");
  background-size: cover;
  border-radius: 6px;
  margin-bottom: 100px;
}
.caja-imagen__estacion img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  position: relative;
}
.caja-imagen__texto {
  position: absolute;
  background: linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0.6278886555) 41%, rgba(20, 20, 20, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-transform: uppercase;
  color: #ffffff;
}
.caja-imagen__icono {
  padding-right: 5px;
  width: 24px;
  height: auto;
}

.saludo {
  font-size: 18px;
  font-weight: bold;
  color: rgba(55, 71, 79, 0.9);
}

.texto-parrafo__titulo {
  display: flex;
  align-self: center;
  margin-bottom: 6px;
}

.texto-parrafo__intro {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.hero {
  width: auto;
  height: 500px;
  background-image: url(../img/hero-Estacion-guanako.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}
.hero__parrafo {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 21px;
  position: relative;
}

.hero:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, whitesmoke 0%, rgba(245, 245, 245, 0.812762605) 17%, rgba(245, 245, 245, 0.437412465) 43%, rgba(245, 245, 245, 0.1544992997) 67%, rgba(245, 245, 245, 0) 100%);
}

.tituloSegundario {
  display: flex;
}

.titularTercero {
  font-size: 17px;
  font-weight: 700;
}