@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.contenedor-principal {
  width: 100%;
  display: flex;
}

.contenedor {
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}

.station-item {
  background: white;
  border: 1px solid silver;
  border-radius: 6px;
}

.actividades-indv {
  width: 280px;
  height: 260px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #B0BEC5;
  color: #141414;
  margin-right: 27px;
  margin-bottom: 27px;
}
.actividades-indv :hover {
  color: #141414;
  text-decoration: none;
}

.imagen-item {
  width: 100%;
  height: 150px;
  background-color: forestgreen;
  position: relative;
  background-image: url(../img/Estacionguanako.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 6px 6px 0 0;
}
.imagen-item .payed-element {
  background: url(../img/lock.svg) no-repeat center center rgba(0, 0, 0, 0.5);
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 100%;
}
.imagen-item .play {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 50%;
  margin-left: -32px;
  background: url(../img/lock-play.svg);
  top: 50%;
  margin-top: -32px;
}
.imagen-item .completion {
  width: 100%;
  height: 6px;
  display: block;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
}
.imagen-item .completion .percentage {
  width: 90%;
  height: 6px;
  display: block;
  background: #f2110d;
}

.icono-candado {
  position: absolute;
  background-color: rgba(38, 50, 56, 0.6);
  z-index: 30;
  padding: 8px 10px;
  border-radius: 42%;
}

.icono-play {
  z-index: 30;
  position: absolute;
  margin-top: 55px;
  margin-left: 100px;
  opacity: 0.6;
}

.texto-principal {
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.breadcrumb1 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.breadcrumb1 span {
  font-weight: bold;
}

.breadcrumb1__item {
  color: #141414;
}

.breadcrumb1__item:after {
  content: "/ ";
  font-size: 14px;
}

#container-video-home {
  background-color: #202020;
  height: 60vh;
}

h1.titular1 {
  font-size: 28px;
}

.headline-1 {
  font-size: 28px;
  font-weight: bold;
  color: #c35623;
}

.icon-headline-1 {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-top: 4px;
  margin-right: 8px;
}

.station-icon {
  background-image: url(../img/stations.svg);
}

h2.headline-2 {
  font-size: 22px;
}

.breadcrumb1 .breadcrumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
}

.breadcrumb-item.active {
  color: #212529;
}

a, a:hover {
  color: #1323f5;
}

@media screen and (max-width: 1024px) {
  h1.titular1 {
    font-size: 25px;
  }
}
footer {
  height: 150px;
  background-color: #f4f4f4;
  width: 100%;
  border-top: 1px solid #EBEBEB;
  color: #b1b1b1;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.link-book {
  font-size: 14px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h3.headline-3 {
  font-size: 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.4em;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  height: 3.2em;
  /* exactly two lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cursor-pointer {
  cursor: pointer;
}

/** CSS FIXES para producción **/
.menu__logotipo img  {
  width: 130px;
  margin: 50px auto 30px;
  display: block;
}

.shadow.shadow-vertical-menu {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-right: #d7d7d7 1px solid;
}

/** Iconos del menu**/
.shadow.shadow-vertical-menu img.icon-vertical-menu, img.icon-vertical-menu, .sidenav---navicon---3gCRo img {
  width: 22px !important;
  margin-top: -5px !important;
}

.sidenav---navicon---3gCRo {
  margin-right: -10px impo !important;
}

header {
  width: 320px;
  background-color: #ffffff;
  height: 100vh;
  padding: 54px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.menu {
  font-family: "Roboto", sans-serif;
}
.menu__lista {
  margin-top: 40px;
  display: block;
  list-style: none;
}
.menu__lista-item a {
  text-decoration: none;
  display: flex;
  font-family: "Roboto", sans-serif;
  align-items: center;
  margin: 16px 0;
  color: #141414;
}
.menu__icono {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 16px;
}

.mi-cuenta {
  display: flex;
  font-family: "Roboto", sans-serif;
  align-items: center;
  margin-top: 150px;
}
.mi-cuenta__hero {
  margin-right: 16px;
}

main {
  width: 100vw;
  height: 100%;
}

.bienvenida {
  background-color: #d6b600;
  font-family: "Roboto", sans-serif;
}

.caj-Titulo-Principal {
  display: flex;
  margin-bottom: 17px;
}
.caj-Titulo-Principal__icono {
  padding-right: 10px;
}

.formulario-busqueda {
  width: 100%;
  background-color: #ffffff;
  margin: 16px 0;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  box-sizing: border-box;
  color: #999;
}
.formulario-busqueda__input {
  border: none;
  text-align: left;
  background-color: transparent;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  color: #999;
}
.formulario-busqueda__icono {
  border: none;
  background-color: transparent;
  text-align: right;
  margin-right: 10px;
}

::placeholder {
  opacity: 0.3;
}

.titular1 {
  font-size: 35px;
  color: #c35623;
  font-weight: 700;
  padding-right: 20px;
  padding-bottom: 0;
  text-transform: uppercase;
}

.form-seleccion-multiple {
  border: none;
  border: 2px solid #B0BEC5;
  border-radius: 25px;
  width: 90px;
  padding-left: 6px;
}

.caja-imagen {
  position: relative;
  height: 195px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.caja-imagen__bg-estacion {
  background-image: url("../img/Estacionguanako.jpg");
  background-size: cover;
}
.caja-imagen__estacion img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  position: relative;
}
.caja-imagen__texto {
  position: absolute;
  background: linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0.6278886555) 41%, rgba(20, 20, 20, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-transform: uppercase;
  color: #ffffff;
}
.caja-imagen__icono {
  padding-right: 5px;
  width: 24px;
  height: auto;
}

.saludo {
  font-size: 18px;
  font-weight: bold;
  color: rgba(55, 71, 79, 0.9);
}

.texto-parrafo__titulo {
  display: flex;
  align-self: center;
  margin-bottom: 6px;
}

.texto-parrafo__intro {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  overflow: hidden;
  width: 100%;
  color: gray;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  height: 2.75em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.hero {
  width: auto;
  height: 350px;
  background-image: url(../img/arana.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}
.hero__parrafo {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 21px;
  position: relative;
}

.hero:before {
  content: "";
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  background: linear-gradient(0deg, white 9%, rgba(255, 255, 255, 0) 100%);
}

.tituloSecundario {
  display: flex;
}

.titularTercero {
  font-size: 17px;
  font-weight: 700;
}

body#login, body#recover-pass {
  height: 100%;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

body#login *, body#recover-pass {
  font-family: "Roboto", sans-serif;
}

body#login h1, body#recover-pass h1 {
  font-size: large;
  font-weight: bold;
}

body#login *, body#recover-pass * {
  font-family: "Roboto", sans-serif;
}

.form-signin, .form-recover, .restore-pass {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox, .form-recover .checkbox, .restore-pass .checkbox {
  font-weight: 400;
}

.form-signin .form-control, .form-recover .form-control, .restore-pass .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus, .form-recover .form-control:focus, .restore-pass .form-control:focus {
  z-index: 2;
}

.form-signin input[type=email] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type=password] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

body#login .btn-primary, body#recover-pass .btn-primary {
  background-color: #1323f5;
}

body#login .btn-primary:hover, body#recover-pass .btn-primary:hover {
  background-color: #3946f4;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

body#login .swatch-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #c22736;
}

body#login p.small {
  color: #a99003;
}

.form-recover-pass {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#recover-pass h2 {
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
}