@import"componentes/variables";
@import"componentes/generales";
@import"componentes/header";
@import"componentes/bienvenida";
@import"componentes/bloques"; 
@import"componentes/estacion-guanako";
// @import"componentes/login";