main{
    width: 100vw;
    height: 100%;    
}
.bienvenida{
    background-color:$color-1;
    font-family: $tipog-2;
}
.caj-Titulo-Principal{
    display: flex;
    margin-bottom: 17px;
    &__icono{
        padding-right: 10px;
    }
}