.hero{
    width: auto;
    height:350px;
    background-image: url(../img/arana-1.png);
    background-size: cover;
    height:350px;
    background-position:top;
    background-repeat: no-repeat;
    position: relative;
    &__parrafo{
        font-family: $tipog-2;
        font-size: 15px;
        line-height: 21px;
        position: relative;
    }

}

@media screen and (max-width: 479px) {
    .hero__parrafo {
        height: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.hero:before{
    content: "";
    width: 100%;
    height: 200px;
    position: absolute; 
    bottom: -1px;
    left: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 9%, rgba(255,255,255,0) 100%);
}
.tituloSecundario{
    display:flex;
}
.titularTercero{
    font-size: 17px;
    font-weight: 700;
}



