//Estilos generales
*{
    margin:0;
    padding: 0;
    box-shadow: border-box;
}
body{
    font-family: $tipog-2;
}

 
.contenedor-principal{
    width: 100%;
    display: flex;
} 
.contenedor{
    width: 100%;
    margin:0 auto;
}
h1,h2,h3,h4{
    padding:0;
    margin:0;
    font-family: $tipog-1;
    text-transform: uppercase;
}
 
.station-item {
    background:white;
    border: 1px solid silver;
    border-radius: 6px;
}

.actividades-indv{
    width: 280px;
    height:260px;
    display: flex;
    flex-direction: column;
    background-color:$color-claro;
    border-radius: 6px;
    border:1px solid $color-neutro-3;
    color:$color-neutro-11;
    margin-right: 27px;
    margin-bottom: 27px;
    :hover{
        color:$color-neutro-11;
        text-decoration: none;
    }
} 

.imagen-item{
    width: 100%;
    height: 150px; 
    background-color: forestgreen;
    position: relative;
    background-image:url(../img/Estacionguanako.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 6px 6px 0 0;
    .payed-element {
        background: url(../img/lock.svg) no-repeat center center rgba(0,0,0,.5);
        width: 30px;
        height: 30px;
        position: absolute;
        left: 10px;
        top:10px;
        border-radius: 100%;
    }
    .play {
        width: 64px;
        height: 64px;
        position: absolute;
        left: 50%;
        margin-left:-32px;
        background: url(../img/lock-play.svg);
        top:50%;
        margin-top:-32px;
    }
    .completion {
        width: 100%;
        height:6px;
        display: block; // si es que está visto el video
        position: absolute;
        bottom:0;
        background: rgba(0,0,0,.25);
        .percentage {
            width:90%;// cuanto del video se ha visto
            height:6px;
            display: block;
            background: #f2110d;
        }
    }
}
.icono-candado{
    position: absolute;
    background-color: rgba($color-neutro-10, .6);
    z-index: 30;
    padding:8px 10px; 
    border-radius:42%;
} 
.icono-play{
    z-index: 30;
    position: absolute;
    margin-top:55px;
    margin-left: 100px;
    opacity: .6;
    
}
.texto-principal{
    align-items: flex-end;
    position: absolute;
    bottom: -40px;
    width: 100%;
}

.breadcrumb1{
    font-size: 14px; 
    font-family: $tipog-2;
}
.breadcrumb1 span{
    font-weight: bold;
}
.breadcrumb1__item{
    color:$color-neutro-11;
}
.breadcrumb1__item:after{
    content: "/ ";
    font-size: 14px;
}
#container-video-home{
    background-color:#202020;
    height: 60vh;
}
.hero-video-home {
}
h1.titular1 {
    font-size: 28px;
}
.headline-1 {
    font-size: 28px;
    font-weight: bold;
}
.icon-headline-1 {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-top: 0;
    margin-right: 10px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
.station-icon {
    background-image: url(../img/icons-menu/01-stations.svg);
}
h2.headline-2{
    font-size: 22px;
}
.breadcrumb1 .breadcrumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
}
.breadcrumb-item.active {
    color: #212529;
}
a, a:hover{
    color: $mar;
}

@media screen and (max-width: 1024px) {
    h1.titular1 {
        font-size: 25px;
    }

}


footer.footerMain{
    height: 150px;
    background-color:#f4f4f4;
    width: 100%;
    border-top: 1px solid #EBEBEB;
    color: #b1b1b1;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
}
.link-book {
    font-size: 14px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
h3.headline-3{
    font-size: 15px;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.4em;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    height: 3.2em; /* exactly two lines */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.cursor-pointer {
    cursor: pointer;
}


/** CSS FIXES para producción **/
.menu__logotipo img {
    width: 130px;
    margin: 50px auto 30px;
    display: block;
}
.shadow.shadow-vertical-menu {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-right: #d7d7d7 1px solid;
}
/** Iconos del menu**/
.shadow.shadow-vertical-menu img.icon-vertical-menu, img.icon-vertical-menu, .sidenav---navicon---3gCRo img {
    width: 22px !important;
    margin-top: -5px !important;
}
.sidenav---navicon---3gCRo {
    margin-right: -10px impo !important;
}

/* BREADCRUMB */
.breadcrumb-2 .breadcrumb{
     background-color: transparent;
}