//Estilos generales
*{
    margin:0;
    padding: 0;
    box-shadow: border-box;
}
body{
    font-family: $tipog-1;
}


.contenedor-principal{
    width: 100%;
    display: flex;
} 
.contenedor{
    width: 100%;
    margin:0 auto;
}
h1,h2,h3,h4{
    padding:0;
    margin:0;
    font-family: $tipog-1;
    text-transform: uppercase;
}

.station-item {
    background:white;
    border: 1px solid silver;
    border-radius: 6px;
}

.actividades-indv{
    width: 280px;
    height:260px;
    display: flex;
    flex-direction: column;
    background-color:$color-claro;
    border-radius: 6px;
    border:1px solid $color-neutro-3;
    color:$color-neutro-11;
    margin-right: 27px;
    margin-bottom: 27px;
    :hover{
        color:$color-neutro-11;
        text-decoration: none;
    }
} 

.imagen-item{
    width: 100%;
    height: 150px; 
    background-color: forestgreen;
    position: relative;
    background-image:url(../img/Estacionguanako.jpg);
    background-size: cover;
    .payed-element {
        background: url(../img/lock.svg) no-repeat center center rgba(0,0,0,.5);
        width: 30px;
        height: 30px;
        position: absolute;
        left: 10px;
        top:10px;
        border-radius: 100%;
    }
    .play {
        width: 64px;
        height: 64px;
        position: absolute;
        left: 50%;
        margin-left:-32px;
        background: url(../img/play.svg);
        top:50%;
        margin-top:-32px;
    }
    .completion {
        width: 100%;
        height:6px;
        display: block; // si es que está visto el video
        position: absolute;
        bottom:0;
        background: rgba(0,0,0,.25);
        .percentage {
            width:90%;// cuanto del video se ha visto
            height:6px;
            display: block;
            background: #f2110d;
        }
    }
}


.icono-candado{
    position: absolute;
    background-color: rgba($color-neutro-10, .6);
    z-index: 30;
    padding:8px 10px; 
    border-radius:42%;
} 
.icono-play{
    z-index: 30;
    position: absolute;
    margin-top:55px;
    margin-left: 100px;
    opacity: .6;
    
}
.texto-principal{
    align-items: flex-end;
    position: absolute;
    bottom:0;
}
.breadcrumb1{
    font-size: 14px; 
    font-family: $tipog-2;
}
.breadcrumb1 span{
    font-weight: bold;
}
.breadcrumb1__item{
    color:$color-neutro-11;

}
.breadcrumb1__item:after{
    content: "/ ";
    font-size: 14px;

}