//Colores Chungungo
$color-1:#d6b600;//mostaza
$mostaza:#d6b600;//mostaza
$mostaza-2:#8f7b08;//mostaza
$color-2:#c35623;//terracota
$terracota:#c35623;//terracota
$color-3:#629af8;//cielo
$cielo:#629af8;//cielo
$color-4:#1323f5;//mar
$mar:#1323f5;//mar
$mar-1:#2e3bf7;//mar
$color-5:#469e85;//prado
$color-6:#1f4c11;//musgo
$color-7:#f2aada;//helado
$color-8:#741e9e;//mora

//colores neutrales
$color-claro:#ffffff;
$color-neutro-1:#ECEFF1;//50
$color-neutro-2:#CFD8DC;//100
$color-neutro-3:#B0BEC5;//200
$color-neutro-4:#90A4AE;//300
$color-neutro-5:#78909C;//400
$color-neutro-6:#607D8B;//500
$color-neutro-7:#546E7A;//600
$color-neutro-8:#455A64;//700
$color-neutro-9:#37474F;//800
$color-neutro-10:#263238;//900
$color-neutro-11:#141414;//1000


//tipografías
$tipog-1:'Roboto Mono', monospace;
$tipog-2:'Roboto', sans-serif; 
